


  
  body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  th, td {
    border: 1px solid #898ca1;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f3f5;
  }
  
  tr:nth-child(even) {
    background-color: #aaaafa;
  }
  

  
  button, a.button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover, a.button:hover {
    background-color: #66ce6a;
  }
  
  form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #838383;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .usuario-style--edit{
    background-color: #3e8e41;
    padding: 6px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }

  .usuario-style--delete{
    background-color: #ee2d2d;
    padding: 6px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }

  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }